*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto';
}

button::-moz-focus-inner {
  border: 0;
}

html {
    scroll-behavior: smooth;
    font-size: calc( 1vw + 1vh );
}

body {
	background-color: #0a0a0a;
}

#maint{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  color: white;
  z-index: 1000;
}




.iconPick {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M12 2a10 10 0 110 20 10 10 0 010-20zm0-2a12 12 0 100 24 12 12 0 000-24zM7.5 14a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm4.5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3zm4.5 0a1.5 1.5 0 110-3 1.5 1.5 0 010 3z'/%3E%3C/svg%3E");
}

.iconUp {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M0 16.7l2.8 2.8 9.2-9.3 9.2 9.3 2.8-2.8L12 4.5z'/%3E%3C/svg%3E");
}

.iconClose {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M12 2a10 10 0 110 20 10 10 0 010-20zm0-2a12 12 0 100 24 12 12 0 000-24zm5 15.5L13.4 12 17 8.4 15.5 7 12 10.6 8.4 7 7 8.5l3.6 3.5L7 15.6 8.5 17l3.5-3.6 3.6 3.6 1.4-1.5z'/%3E%3C/svg%3E");
}

.ascending {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M23.68 18.52a2.3 2.3 0 01-1.97 3.47H2.3a2.3 2.3 0 01-1.97-3.47l9.7-16.18a2.3 2.3 0 013.94 0l9.7 16.18z'/%3E%3C/svg%3E");
}

.descending {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M.33 4.7A2.3 2.3 0 012.3 1.23H21.7a2.3 2.3 0 011.97 3.47l-9.71 16.18a2.3 2.3 0 01-3.93 0z'/%3E%3C/svg%3E");
}

.iconGlobe {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23000' viewBox='0 0 420 420'%3E%3Cdefs/%3E%3Cpath stroke-width='26' d='M209 15a195 195 0 102 0z'/%3E%3Cpath stroke-width='18' d='M210 15v390m195-195H15M59 90a260 260 0 00302 0m0 240a260 260 0 00-302 0M195 20a250 250 0 000 382m30 0a250 250 0 000-382'/%3E%3C/svg%3E");
}

.iconLink {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M21 13v10H0V4h12v2H2v15h17v-8h2zm3-12H13l4 4-7 7 3 3 7-7 4 4V1z'/%3E%3C/svg%3E");
}

.iconFb {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M9 8H6v4h3v12h5V12h3.6l.4-4h-4V6.3c0-1 .2-1.3 1.1-1.3H18V0h-3.8C10.6 0 9 1.6 9 4.6V8z'/%3E%3C/svg%3E");
}

.iconShare {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23666' d='M5 7a5 5 0 110 10A5 5 0 015 7zm11.1 12a4 4 0 003.9 5 4 4 0 10-3-6.7l-5.4-3a7 7 0 01-1 1.8l5.5 3zM24 4a4 4 0 10-7.9 1l-5.5 2.9a7 7 0 011 1.7L17 6.7A4 4 0 0024 4z'/%3E%3C/svg%3E");
}

.iconVk {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M13.2 19c.6 0 .8-.4.8-1 0-1.8.7-2.9 2-1.5C17.7 18 18 19 19.8 19h3.2c.8 0 1.1-.3 1.1-.7 0-.8-1.4-2.4-2.6-3.5-1.7-1.5-1.8-1.6-.3-3.5C22.9 9 25.2 6 23 6h-4c-.7 0-.8.4-1 1-1 2.4-3 5.5-3.7 5-.7-.5-.4-2.4-.3-5.3 0-.7 0-1.2-1.1-1.5A8 8 0 0011 5C9 5 7.3 6 8.2 6.1c1.6.3 1.4 3.7 1 5.2-.6 2.5-3-2-4-4.3C5 6.4 5 6 4 6H.8c-.5 0-.8.2-.8.5 0 .6 3 6.7 5.8 9.8 2.7 3 5.5 2.7 7.4 2.7z' class='st0'/%3E%3C/svg%3E");
}

.iconTw {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M24 4.6c-.9.3-1.8.6-2.8.7a5 5 0 002.1-2.7c-1 .6-2 1-3 1.2a5 5 0 00-8.5 4.5A14 14 0 011.7 3a5 5 0 001.5 6.6c-.8 0-1.6-.2-2.2-.6A5 5 0 005 14a5 5 0 01-2.3 0 5 5 0 004.6 3.5 9.9 9.9 0 01-7.3 2A14 14 0 0021.5 7.1 10 10 0 0024 4.6z'/%3E%3C/svg%3E");
}

.iconReddit {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23fff' d='M24 11.78a2.65 2.65 0 00-4.5-1.9 13.7 13.7 0 00-6.97-2.05l1.49-4.66 4.01.94v.05a2.17 2.17 0 004.34 0 2.17 2.17 0 00-4.2-.78l-4.32-1.02a.37.37 0 00-.44.25l-1.66 5.21c-2.83.03-5.4.8-7.3 2.03a2.64 2.64 0 10-3.13 4.2c-.06.28-.09.57-.09.86 0 3.9 4.8 7.09 10.72 7.09s10.72-3.18 10.72-7.1c0-.27-.03-.54-.08-.8A2.63 2.63 0 0024 11.78zM6.78 13.6a1.58 1.58 0 013.16 0 1.58 1.58 0 01-3.16 0zm9.06 4.66c-.8.8-2.05 1.18-3.83 1.18H12c-1.78 0-3.03-.38-3.83-1.18a.37.37 0 010-.52.37.37 0 01.53 0c.65.65 1.73.96 3.3.96H12c1.57 0 2.65-.31 3.3-.96a.37.37 0 01.53 0c.14.14.14.38 0 .52zm-.2-3.1c-.86 0-1.57-.7-1.57-1.57a1.58 1.58 0 013.16 0c0 .87-.71 1.58-1.58 1.58z'/%3E%3C/svg%3E");
}




#data_block {
	float: right;
	width: 33%;
	padding: 0.5rem 0.5rem 0.25rem 0.25rem;
}

#graph_block {
	float: right;
	width: 33%;
	padding: 0.25rem 0.5rem 0.25rem 0.25rem;
}




#title h1 {
	background-color: rgb(30, 30, 30);
	border-radius: 0.25em;
	color: white;
	font-size: 1rem;
	font-weight: normal;
	text-align: center;
	line-height: 1.5;
	margin: 0 0 1vw 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 calc(1.5rem + 1vw) 0 0.25rem;
}

.headingWrap {
	position: sticky;
	top: 0;
	background-color: rgb(10, 10, 10);
}

#right h2 {
	background-color: rgb(30, 30, 30);
	border-radius: 0.25em;
	color: white;
	font-size: 0.5rem;
	font-weight: normal;
	text-align: center;
	margin: 0 0 1vw 0;
}




#mapPanel {
	position: relative;
	float: left;
	width: 67%;
	overflow: hidden;
	padding: 0.5rem 0.25rem 0 0.5rem;
}

#mapPanel #legend {
	position: absolute;
	z-index: 100;
	bottom: 1.5rem;
	left: 0.5rem;
	font-size: 0.5rem;
	border-radius: 0.25rem;
  color: #fff;
  align-items: baseline;
  display: flex;
}

#legend div {
    margin: 0 0.5rem 0 0;
    background-color: rgba(10, 10, 10, 0.95);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

#mapPanel #legendCountry {
    position: absolute;
    z-index: 100;
    bottom: 1.5rem;
    left: .5rem;
    font-size: .5rem;
    border-radius: .25rem;
    color: #fff;
    align-items: baseline;
    display: none;
}

#legendCountry p {
    margin: 0 0.5rem 0 0;
    background-color: rgba(10, 10, 10, 0.95);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

#legendCountry span {
    background-color: rgba(146, 30, 30, 0.95);
    display: block;
    padding: .5rem;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
}

#mapPanel #map {
	border-radius: 0.25em;
	box-shadow: 0 0 0.25em black;
	overflow: hidden;
	background-color: #181818;
	height: 41.82vw;
}

#mapPanel #map > span {
  display: block;
  line-height: 41.82vw;
  color: #ddd;
  text-align: center;
  font-size: 0.6rem;
}

#mapPanel .buttons {
	text-align: right;
	padding: 0 0.5rem 0 0;
	display: flex;
	justify-content: flex-end;
}

#mapPanel .mapButton {
	color: #ddd;
	background-color: rgb(15, 15, 15);
	padding: 0 0.25rem;
	line-height: 2;
	margin: 0 0.25em;
	border-radius: 0.25rem 0.25rem 0 0;
	box-shadow: 0 0 0.25em black;
	cursor: pointer;
	opacity: 1;
	font-size: 0.5rem;
	display: inline-block;
}

#mapPanel .mapButton.active {
  color: #29b6f6;
	background-color: #181818;
}

#mapPanel .modes {
	text-align: right;
	padding: 0 .5rem 0 0;
	display: flex;
	justify-content: flex-end;
}

#mapPanel .modes.hidden {
	opacity: 0;
}

#mapPanel .team {
	display: flex;
}

#mapPanel .mapMode, #mapPanel .mapSuperMode {
	padding: 0 .25rem;
	line-height: 2;
	margin: 0 .25em;
	border-radius: 0 0 .25rem .25rem;
	box-shadow: 0 0 .25em rgb(0, 0, 0);
	font-size: .5rem;
	opacity: 1;
	color: rgb(221, 221, 221);
	background-color: rgb(15, 15, 15);
	cursor: pointer;
}

#mapPanel .mapSuperMode.disabled {
    color: #444;
    cursor: not-allowed;
}




#data_column {
	overflow: hidden;
}

#data_column .data_row {
	display: flex;
	justify-content: space-between;
	margin: 0 0 1vw 0;
}

#data_column .data_box2 {
	background-color: rgb(30, 30, 30);
	color: #eee;
	padding: 0.25rem;
	border-radius: 0.25em;
	margin: 0 1vw 0 0;
	flex: 1;
}

#data_column .data_box2:last-child {
	margin: 0;
}

.data_box2 .heading {
	display: flex;
	justify-content: space-between;
	line-height: 0.5rem;
}

.data_box2 h5 {
	font-size: 0.5rem;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.data_box2 h5 a {
  text-decoration: none;
	color: rgb(41, 182, 246);
}

.data_box2 span {
	font-size: 0.6rem;
	display: block;
	color: fuchsia;
}

.data_box2 p {
	font-size: .9rem;
	text-align: right;
	padding: 0 0 0 1rem;
}

.data_box2 p.red {
	color: rgb(255, 63, 63);
}

.data_box2 p span {
	color: #ddd;
	display: inline-block;
	font-size: 0.5rem;
}

.data_box2.small p {
  font-size: 1.2em;
}




#countries {
	border-radius: .25em;
	float: left;
	width: 67%;
	padding: 1rem 0.25rem 0.25rem 0.5rem;
}

#countries .heading {
	background-color: rgb(20, 20, 20);
	display: flex;
	border-radius: 0.25em 0.25em 0 0;
}

#countries .heading > div {
	flex: 1;
	text-align: center;
	color: #eee;
	font-size: 0.6rem;
	line-height: 1.5;
	border-right: solid 1px rgba(255, 255, 255, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.1rem 0.66rem 0.1rem 0.2rem;
	cursor: pointer;
	background-size: 0.33rem;
	background-repeat: no-repeat;
	background-position: right 0.33rem center;
}

#countries .heading > div > p {
    font-size: 0.8em;
}

#countries .heading > div:last-child {
	border-right: none;
}

#countries .country {
	background-color: rgb(35, 35, 35);
	padding: 0.25em 0;
	display: flex;
	transition: background-color 0.3s ease 0s;
	cursor: pointer;
}

#countries .country.green {
	background-color: rgb(43, 72, 43);
}

#countries .country:nth-child(2n) {
	background-color: rgb(45, 45, 45);
}

#countries .country.green:nth-child(2n) {
	background-color: rgb(43, 72, 43);
}

#countries .country:hover, #countries .country:nth-child(2n):hover {
	background-color: rgb(64, 64, 15);
}

#countries .country:last-child {
	border-radius: 0 0 0.25em 0.25em;
}

#countries .country > div {
	flex: 1;
	text-align: center;
	color: rgb(238, 238, 238);
	font-size: 0.6rem;
	line-height: 1.5;
	border-right: solid 1px rgba(255, 255, 255, 0.1);
	padding: 0.1rem 0.66rem 0.1rem 0.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#countries .country > div:last-child {
	border-right: none;
}

#countries .country > div.red {
	color: rgb(255, 63, 63);
}

#countries .country > div.green {
	color: rgb(0, 255, 0);
}

#countries .country div p:nth-child(2) {
  display: none;
}

#countries .country div p.red {
	color: rgb(255, 63, 63);
}

#countries .country div p.green {
	color: lime;
}

#countries .name {
	flex: 2 !important;
}




#news {
	margin: 0.5rem 0 0 0;
}

#news .heading, #newsMob .heading {
	background-color: rgb(20, 20, 20);
	padding: 0.25em 0;
	position: sticky;
	top: 0;
	border-radius: 0.25em 0.25em 0 0;
	text-align: center;
	color: rgb(238, 238, 238);
	font-size: 0.9rem;
	line-height: 1.5;
}

#news .iconClose, #newsMob .iconClose {
	display: none;
}

#news .newsBox, #newsMob .newsBox {
	background-color: #303030;
	padding: 0.5em;
	overflow: hidden;
}

#news .newsBox:nth-child(2n), #newsMob .newsBox:nth-child(2n) {
	background-color: #202020;
}

#news .newsBox:last-child, #newsMob .newsBox:last-child {
	border-radius: 0 0 0.25em 0.25em;
}

#news a, #newsMob a {
	background-color: black;
	color: white;
	font-size: 0.5rem;
	line-height: 1.75;
	padding: 0 0.5rem;
	border-radius: 500px;
	text-decoration: none;
	float: left;
	clear: both;
}

#news .title, #newsMob .title {
	background-color: rgba(0, 0, 0, 0);
	font-size: 0.6rem;
	margin: 0.5em 0 0 0;
	line-height: 1.25;
	color: #eee;
	padding: 0;
}




#areas {
	padding: 0.25em 0.5em;
	background-color: rgb(20, 20, 20);
	margin: 0 0 1vw 0;
	border-radius: 0.25em;
}

#areas span {
	color: #eee;
	font-size: 0.6rem;
	margin: 0 0.25em 0 0;
}

#areas a {
	background-color: rgb(48, 48, 48);
	font-size: 0.6rem;
	color: white;
	line-height: 1.5;
	display: inline-block;
	padding: 0 0.25em;
	border-radius: 0.25em;
	text-decoration: none;
	float: unset;
	margin: 0 0.25em 0 0;
	transition: color 0.3s ease 0s;
}

#areas a:hover {
	color: rgb(41, 182, 246);
}

#areas a.active {
	background-color: rgb(41, 182, 246);
	color: #111;
	cursor: default;
}

#areas a.active:hover {
  color: #111;
}




#newsMob {
  display: none;
}




#backup {
	position: fixed;
	width: 1.5rem;
	height: 1.5rem;
	background-color: rgb(10, 10, 10);
	bottom: 1rem;
	right: 1rem;
	border-radius: 500px;
	background-size: 50%;
	box-shadow: 0px 0px 3px 1px rgb(41, 182, 246);
	cursor: pointer;
	z-index: 500;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}




#graph_chart {
	margin: 0 0 1vw 0;
	border-radius: 0.25em;
	overflow: hidden;
	height: 16.5vw;
  background-color: #181818;
}

#graphPanel .buttons {
	padding: 0 0 0 0.5em;
	display: flex;
}

#graphPanel .mapButton {
	color: rgb(68, 68, 68);
	background-color: rgb(9, 9, 9);
	padding: 0 0.25rem 0.25rem 0.25rem;
	line-height: 1.5;
	margin: 0 0.25em;
	border-radius: 0.25rem 0.25rem 0 0;
	box-shadow: 0 0 0.25em rgb(0, 0, 0);
	cursor: pointer;
	opacity: 1;
	font-size: 0.5rem;
	display: inline-block;
}

#graphPanel .mapButton.active {
	color: rgb(41, 182, 246);
	background-color: rgb(24, 24, 24);
}

#graphPanel .buttons.mobile {
  display: none;
}




.flipCard {
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 1.5rem;
	perspective: 100vh;
	margin: 0 0 1vw 0;
}

.flipBox {
	flex: 1;
	margin: 0 1vw 0 0;
	height: 2.6rem;
}

.data_row > div:last-child {
  margin: 0;
}

.flipInner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transform-style: preserve-3d;
}

.flipCard.flipActive .flipInner {
	transform: rotateX(-180deg);
}

.flipFront, .flipBack {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flipFront {
	color: black;
}

.flipBack {
	transform: rotateX(180deg);
}

.flipOrder1 {
	transition: transform 0.5s ease 0s;
}

.flipOrder2 {
	transition: transform 0.5s ease 0.05s;
}

.flipOrder3 {
	transition: transform 0.5s ease 0.1s;
}

.flipOrder4 {
	transition: transform 0.5s ease 0.15s;
}

.flipOrder5 {
	transition: transform 0.5s ease 0.2s;
}

.flipOrder6 {
	transition: transform 0.5s ease 0.25s;
}

.flipOrder7 {
	transition: transform 0.5s ease 0.3s;
}

.flipOrder8 {
	transition: transform 0.5s ease 0.35s;
}

.flipOrder9 {
	transition: transform 0.5s ease 0.4s;
}

.flipOrder10 {
	transition: transform 0.5s ease 0.45s;
}

.flipOrder11 {
	transition: transform 0.5s ease 0.5s;
}




.footer {
	font-size: .5rem;
	overflow: hidden;
	float: right;
	width: 33%;
	padding: 0.25rem 0.5rem 0.25rem 0.25rem;
}

.footer a {
	display: block;
	float: left;
	color: #eee;
	text-decoration: none;
	padding: 0 0.5rem;
	line-height: 2;
	background-color: rgb(30, 30, 30);
	border-radius: 0.25rem;
	margin: 0 0.5rem 0 0;
}




#pickLanguageWrap {
	position: absolute;
	padding: 0.5rem 0.5rem;
	top: 0;
	right: 0;
	border-radius: 500px;
	background-color: rgb(10, 10, 10);
}

#pickLanguage {
	width: 1.5rem;
	height: 1.5rem;
	background-color: rgb(30, 30, 30);
	border-radius: 500px;
	cursor: pointer;
	transition: transform 0.3s ease 0s;
	line-height: 1.5rem;
	text-align: center;
	color: rgb(41, 182, 246);
	font-size: 0.6rem;
}

#pickLanguage.active {
	transform: scale(1.3);
}




#languages {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 1);
	top: calc( 1.9vw + 1.5rem );
	right: 1vw;
	border-radius: 0.25rem;
	padding: 0.5rem;
	border: solid 1px rgb(128, 128, 128);
}

#languages a {
	display: block;
	text-align: center;
	color: #eee;
	font-size: 0.6rem;
	text-decoration: none;
	line-height: 2;
	transition: color 0.3s ease 0s;
}

#languages a:hover {
	color: rgb(41, 182, 246);
}




#disclaimer {
	white-space: unset;
}




.sources {
	float: right;
	width: 33%;
	padding: 0.25rem 0.5rem 0.25rem 0.25rem;
}

.sources .headingWrap {
	position: sticky;
	top: 0;
	background-color: rgb(10, 10, 10);
}

.sources .heading {
	background-color: rgb(20, 20, 20);
	padding: 0.25em 0;
	position: sticky;
	top: 0;
	border-radius: 0.25em 0.25em 0 0;
	text-align: center;
	color: rgb(238, 238, 238);
	font-size: 0.9rem;
	line-height: 1.5;
}

.sources .source {
	background-color: #232323;
	padding: .25rem 0;
	display: flex;
	transition: background-color .3s ease 0s;
	cursor: pointer;
	color: #ddd;
	font-size: .6rem;
	text-decoration: none;
}

.sources .source:nth-child(2n) {
	background-color: rgb(45, 45, 45);
}

.sources .source .icon {
	width: 2.4rem;
	background-size: .5rem;
	transition: transform 0.3s ease 0s;
  background-repeat: no-repeat;
  background-position: center;
}

.sources .source:hover .icon {
  transform: scale(1.5);
}

.sources .source .content {
	padding: 0 0 0 0.5rem;
	border-left: solid 1px rgba(255,255,255,.1);
}

.sources .content div {
	line-height: 0.8rem;
}

.sources .content div:last-child {
	color: rgb(100, 100, 100);
	font-size: 0.5rem;
}




#cleancode {
	height: 12vw;
	border-radius: .25rem;
	margin: 0 0 1vw;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

#cleancode picture {
	position: absolute;
	object-fit: cover;
	z-index: -1;
}

#cleancode img {
	object-fit: cover;
}

#cleancode .upside {
	flex: 4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem;
}

#cleancode .downside {
	flex: 1;
	font-size: .5rem;
	padding: .25rem .5rem;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#cleancode .downside a {
	background-color: black;
	line-height: 1.5rem;
	border-radius: 0.25rem;
	margin: 0 0 0.5rem 0;
  color: #ddd;
  text-decoration: none;
}

#cleancode .title {
	color: white;
}

#cleancode .upside .title a {
	background-color: black;
	display: inline-block;
	line-height: 1.5;
	padding: 0 0.5rem;
	border-radius: 0.25rem;
  color: #ddd;
  text-decoration: none;
}

#cleancode .social a {
	width: 1.5rem;
	height: 1.5rem;
	display: block;
	float: right;
	background-color: black;
	border-radius: 500px;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
  color: #ddd;
  text-decoration: none;
}




#notificationsPrompt {
	position: fixed;
	background-color: #282828;
	left: 5vw;
	top: -20rem;
	box-shadow: 0 0 .5rem #000;
	max-width: 9.6rem;
	padding: 0 1rem;
	border-radius: 0 0 .25rem .25rem;
	text-align: center;
	transition: top .3s ease 0s, bottom .3s ease 0s;
}

#notificationsPrompt p {
	font-size: .6rem;
	color: #ddd;
	margin: 0.5rem 0 0.5rem 0;
}

#notificationsPrompt button {
	background-color: #282828;
	border: none;
	line-height: 2rem;
	padding: 0 1rem;
	border-radius: .25rem;
	color: #282828;
	cursor: pointer;
	transition: background-color .3s ease .3s,color .3s ease .3s;
	font-size: .6rem;
	margin: 0 0 0.5rem 0;
}

#notificationsPrompt span {
	cursor: pointer;
	color: #bbb;
	display: block;
	font-size: .5rem;
	margin: 0 0 0.5rem 0;
}

#notificationsPrompt.active{
  top: 0rem;
}

#notificationsPrompt.active button{
  background-color: rgb(41, 182, 246);
  color: #222;
}




#social {
	display: none;
	background-color: #1e1e1e;
	border-radius: .25rem;
	padding: 0 .25rem;
	justify-content: space-around;
	background-size: 1rem;
	background-position: .25rem center;
	background-repeat: no-repeat;
}

#social .smIcon {
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 500px;
	background-size: 66%;
	background-repeat: no-repeat;
	background-position: center;
  transition: background-color 0.3s ease 0s;
}

#social .smIcon:hover {
  background-color: rgb(41, 182, 246);
}




.cleancodeint {
	display: flex;
	border-radius: .25rem;
	padding: .25rem;
	text-decoration: none;
	flex-direction: column;
	background-image: linear-gradient(45deg,#fff,#c8c8c8 40%,#2cd7a2 80%);
	align-items: flex-end;
}

.cleancodeint p {
	color: black;
	margin: 0.25rem 0;
	display: inline;
	padding: 0 0.5rem;
	width: max-content;
	border-radius: 0.25rem;
	line-height: 1.4rem;
}

.cleancodeint span {
	color: rgb(44, 215, 162);
	margin: 0.25rem 0;
	background-color: rgb(34, 34, 34);
	display: inline;
	padding: 0 0.5rem;
	border-radius: 0.25rem;
	font-size: 0.7rem;
	line-height: 2;
	text-align: center;
}





#mapPanel .mapMode.active, #mapPanel .mapSuperMode.active {
  color: rgb(41, 182, 246);
  background-color: rgb(24, 24, 24);
}

.flipBox .bottomBack {
	margin: 0.5rem 0 0 0;
}

.mapMode .bottom {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0 0 0;
}

.mapMode .bottom span {
	opacity: 0;
}




div.google-visualization-tooltip {
  background-color: rgba(20, 20, 20, 0.98);
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem black;
  border: solid 0px white;
  color: white;
  padding: 0 !important;
  font-size: 1rem;
  color: white !important;
  margin: 0 !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 9rem;
  box-sizing: border-box;
}

div.google-visualization-tooltip *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.google-visualization-tooltip h2{
  text-align: center;
  font-style: normal;
  width: 90%;
  color: white;
  margin: 0 auto 0.5rem;
}

div.google-visualization-tooltip h5{
  text-align: center;
  line-height: 1.5;
  font-style: italic;
  width: 100%;
  color: white;
  margin: 0;
  padding: 0;
}

div.google-visualization-tooltip h3{
  text-align: center;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0.25rem auto;
  border-radius: 0.25rem;
  font-style: normal;
  width: 90%;
  color: white;
  padding: 0;
}

div.google-visualization-tooltip span.legend{
  display: block;
  margin: 0.5rem auto;
  font-style: italic;
  width: 90%;
  color: white;
  padding: 0;
}

div.google-visualization-tooltip div{
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

div.google-visualization-tooltip div p{
  width: 100%;
  font-style: normal;
  color: white;
  margin: 0;
  padding: 0;
}

div.google-visualization-tooltip div span{
  min-width: 3rem;
  text-align: right;
  margin: 0;
  font-style: normal;
  color: white;
  margin: 0;
  padding: 0;
}

div.google-visualization-tooltip div span.fatality {
  color: rgb(255, 0, 255);
}

div.google-visualization-tooltip div span.activecases {
  color: #ffecc9;
}

div.google-visualization-tooltip div span.confirmed {
  color: rgb(41, 182, 246);
}

div.google-visualization-tooltip div span.deaths {
  color: #ff2727;
}

div.google-visualization-tooltip div span.recovered {
  color: #0f0;
}




#controls {
	position: absolute;
	bottom: 0;
	display: flex;
	left: 0;
	right: 0;
	max-width: 31rem;
	margin: 0 auto;
	justify-content: space-between;
	text-align: center;
	font-size: 0.6rem;
	min-height: 0.9rem;
	transition: bottom 0.3s ease 0s;
}

#controls > div {
	flex: 1;
	position: relative;
	margin: 0 1rem;
}

#controls .list {
	position: absolute;
	z-index: 500;
	overflow: hidden;
	transition: height 0.3s ease 0s, opacity 0.3s ease 0s;
	width: 90%;
	height: 0rem;
	bottom: 0;
	padding: 0.25rem 0 1.45rem 0;
	color: white;
	line-height: 1.5;
	background-color: rgba(10, 10, 10, 0.99);
	border-radius: 0.25rem;
	margin: 0 auto;
	left: 0;
	right: 0;
	opacity: 0;
}

#controls > div:hover .list {
	height: max-content;
  opacity: 1;
}

#controls > div.hovered .list {
	height: max-content;
  opacity: 1;
}

#controls p {
	position: absolute;
	background-color: rgb(50, 50, 50);
	width: 100%;
	bottom: 0;
	color: white;
	line-height: 2;
	border-radius: 0.25rem 0.25rem 0 0;
	text-align: center;
	z-index: 501;
	cursor: pointer;
	background-size: 0.6rem;
	background-repeat: no-repeat;
	background-position: 0.3rem;
	padding: 0 0 0 1.2rem;
	box-shadow: 0 0 5px 0px black;
}

#controls .item {
	margin: 0 0.5rem 0 0.5rem;
	font-size: 0.6rem;
	border-top: solid 1px rgba(255, 255, 255, 0.05);
	line-height: 2.5;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}

#controls .item:hover {
  color: #29B6F6;
}

#controls .item:first-child {
	border: solid 0px black;
}

#controls .item.active {
	color: RGB(41, 182, 246);
}




#controls.hidden, #controlsCountry.hidden {
  bottom: -4rem;
}




#controlsCountry {
	position: absolute;
	bottom: 0;
	display: flex;
	left: 0;
	right: 0;
	max-width: 24rem;
	margin: 0 auto;
	justify-content: space-between;
	text-align: center;
	font-size: 0.6rem;
	min-height: 0.9rem;
	transition: bottom 0.3s ease 0s;
}

#controlsCountry p {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	line-height: 2;
	border-radius: 0.25rem;
	text-align: center;
	z-index: 501;
	flex: 1;
	margin: 0 1rem 0 0;
}

#controlsCountry span {
	background-color: rgb(255, 63, 63);
	color: black;
	line-height: 2;
	border-radius: 0.25rem 0.25rem 0 0;
	text-align: center;
	cursor: pointer;
	display: block;
	max-width: 7rem;
	margin: 0 auto;
	box-shadow: 0 0 5px black;
	padding: 0 1rem;
}




#socialDesktopPrompt {
	font-size: .5rem;
	background-color: #0a0a0a;
	text-align: center;
	color: #ddd;
	bottom: -6rem;
	left: 0;
	padding: 0.5rem 0.25rem 0;
	border-radius: 0 0.25rem 0 0;
	z-index: 600;
	transition: bottom .3s ease 0s;
	position: fixed;
	box-shadow: 0 0 0.25rem black;
  max-width: 8.5rem;
}

#socialDesktopPrompt span {
	display: inline-block;
	line-height: 3;
	color: #f0f;
	cursor: pointer;
	border-top: solid 1px rgb(41, 182, 246);
}

#socialDesktopPrompt > div {
	transition: left .3s ease 0s;
	position: static;
	display: flex;
	width: 100%;
	margin: 0.5rem 0 0.25rem;
	box-shadow: none;
}

#socialDesktopPrompt > div > a {
	width: 1.5rem;
	display: block;
	height: 1.5rem;
	margin: 0 0.25rem;
	border-radius: 500px;
	background-size: 66%;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-color .3s ease 0s;
}

#socialDesktopPrompt > div > a:hover {
  background-color: rgb(41, 182, 246);
}

#socialDesktopPrompt.disabled {
  padding: 0 0.25rem;
}

#socialDesktopPrompt.disabled span {
	display: none;
}

#socialDesktopPrompt.disabled p {
	display: none;
}

#socialDesktopPrompt.disabled > div {
	margin: 0;
}

#socialDesktopPrompt.disabled > div > a {
	width: 1rem;
	height: 1rem;
	margin: 0 0.5rem;
}





@media screen and (max-width: 1023px) {

html {
    font-size: calc( 1.5vw + 1.5vh );
}

#data_block {
    width: 100%;
    float: unset;
    padding: 0.25rem;
}

#graph_block {
    float: unset;
    width: 100%;
    padding: 0 0.25rem;
}




#title {
    margin: 0 0 0.25rem 0;
}




#news {
	display: none;
}




#graph_chart {
	margin: 0.5rem 0 0 0;
	height: 40vw;
}

#graphPanel .buttons {
	display: none;
}

#graphPanel .buttons.mobile {
	text-align: right;
	padding: 0 1em 0 0;
	display: flex;
	justify-content: end;
  margin: 0 0 0.5rem 0;
}

#graphPanel .mobile .mapButton {
	color: rgb(68, 68, 68);
	background-color: rgb(9, 9, 9);
	padding: 0.25rem 0.25rem 0 0.25rem;
	line-height: 1.5;
	margin: 0 0.25em;
	border-radius: 0 0 0.25rem 0.25rem;
	box-shadow: 0 0 0.25em rgb(0, 0, 0);
	cursor: pointer;
	opacity: 1;
	font-size: 0.6rem;
	display: inline-block;
}

#graphPanel .mobile .mapButton.active {
	color: rgb(41, 182, 246);
	background-color: rgb(24, 24, 24);
}




#mapPanel {
    float: unset;
    width: 100%;
    padding: 0 0.25rem;
}

#mapPanel #map {
	height: 75vw;
}

#mapPanel .mapButton, #mapPanel .mapView{
	font-size: 0.6rem;
}




#data_column {
    margin: 0 0 0.125rem 0;
}

#data_column .data_row {
	margin: 0 0 .125rem;
}

#data_column .data_box2 {
	margin: 0 0.5rem 0 0;
}




#disclaimer {
	font-size: 0.5rem !important;
}




#areas {
	padding: 0 0.25em;
	margin: 0;
}




#countries {
    font-size: 1.25em;
    float: unset;
    width: 100%;
    padding: 0.25rem;
}

#countries .heading > div {
	line-height: 3;
}

#countries .heading .newcases{
  display: none;
}

#countries .heading .newrecovered{
  display: none;
}

#countries .heading .newdeaths{
  display: none;
}

#countries .newcases {
	display: none !important;
}

#countries .newrecovered {
	display: none !important;
}

#countries .newdeaths {
	display: none !important;
}

#countries .country div p:nth-child(2) {
	font-size: 0.8em;
	display: inline-block;
	padding: 0 1em;
	border-radius: 0.25em;
}




#pickLanguageWrap {
	position: fixed;
	bottom: 3rem;
	right: 1rem;
	border-radius: 500px;
	box-shadow: 0 0 0.25rem rgb(0, 0, 0), 0 0 0.25rem rgb(0, 0, 0);
	top: unset;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
}

#pickLanguage {
	background-color: rgb(41, 182, 246);
	color: #222;
	font-size: 0.75rem;
	line-height: 2;
	font-weight: 900;
}




#languages {
	position: fixed;
	top: unset;
	bottom: 3rem;
	right: 3rem;
}




#cleancode {
	height: 33vw;
}




#notificationsPrompt {
	width: 100vw;
	max-width: unset;
	top: unset;
	bottom: -20rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 0;
  padding: 1rem 0;
  background-color: white;
}

#notificationsPrompt p {
	margin-bottom: 3vh;
  color: black;
  font-size: 0.8rem;
}

#notificationsPrompt button{
  font-size: 0.8rem;
}

#notificationsPrompt span {
	display: inline-block;
	margin: 0 0 0 15vw;
  font-size: 0.8rem;
  color: black;
}

#notificationsPrompt.active{
  top: unset;
  bottom: 0;
}




.sources {
    margin: 0 0 0.25rem 0;
    float: unset;
    width: 100%;
    padding: 0 0.25rem;
}




#controls > div {
	margin: 0 0.25rem;
}

#controls > div.hovered:hover .list {
	height: max-content;
  opacity: 1;
}

#controls > div:hover .list {
	height: 0;
  opacity: 0;
}




.footer {
    float: unset;
    width: 100%;
    padding: 0 0.25rem 1rem 0.25rem;
}




#social {
  display: flex;
}




#socialDesktopPrompt {
  display: none;
}




}
